* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #84a98c;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  position: fixed;
  background-color: #cad2c5;
  top: 0;
  left: 0;
  text-align: center;
  padding: 10px;
}

.logoImg {
  border-radius: 50%;
}

main {
  margin-top: 200px;
  margin-bottom: 80px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: #cad2c5;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 0;
  bottom: 0;
  left: 0;
}

h2 {
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: end;
}

.navbarList {
  display: flex;
  gap: 20px;
  width: 50%;
  list-style: none;
  justify-content: end;
}

.recipeIntroduction img {
  width: 50%;
}

.recipeTitle {
  text-align: center;
  font-style: italic;
  font-size: 50px;
}

.socialsContainer {
  display: flex;
  width: 60%;
  justify-content: center;
}

.footerSocials {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.footerSocials li {
  width: 100%;
}

.navbarList a,
.footerSocials a {
  text-decoration: none;
  color: black;
}

.footerSocials img {
  width: 30px;
}

.recipeIntroduction figcaption {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recipeIntroduction p {
  margin: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.ingredientsList,
.stepsList {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin: 2rem;
  padding: 2rem;
  background-color: #52796f;
}

.ingredientsList li,
.stepsList li {
  width: 100%;
  margin-bottom: 1rem;
  color: #fff;
}

.youtubeVideo,
.googleMap {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.whatsappIcon {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 70px;
  right: 10px;
  background-color: #075e54;
  border-radius: 50%;
  cursor: pointer;
}

.whatsappIcon a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.whatsappIcon img {
  width: 50%;
}

.googleMapFooter {
  margin: 1rem;
}

.developerInfo {
  width: 15%;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.developerInfo a {
  text-decoration: none;
  color: #000;
}